body {
  overflow: hidden;
}

.TrainerBg {
  position: absolute;
  width: 100%;
  height: 93vh;
  background-image: url("../images/01-Trainer/RegTrainer/Prof.jpg");
  background-size: cover;
}
  .Trainer-Msg  {
          position: absolute;
          top: 20%;
          left: 10%;
          transform: translate(-10%,-20%);

          max-width: 600px;
          text-align: center;
          height: auto;
          z-index: 1;
          float: left;

          font-size: 1.5em;
          color: 	#F8F8F8;
          text-shadow: 2px 2px 2px #333;
      }
      .Trainer-Msg h2 {
          color: 	white;
          font-size: 1.2em;
      }
      .Trainer-Msg h3 {
          font-size: 1em;
      }


.btn-become-trainer {
  position: absolute;
  bottom: 50px;
  left: 80px;
  font-weight: bold;
  background-color: #FF2440;
  padding: 20px 25px;
  color: white;
  border-radius: 2px;
}

.btn-become-trainer:hover {
  background-color: #A8002D;
  transition: all 0.5s;
}

.btn-become-trainer:active {
  background-color: #5A0C1A;
  transition: all 0.5s;
}















/* ---------------------------------------------------------------- */
/*                          Mobile Styles                           */
/* ---------------------------------------------------------------- */
                    /*     0px - 479px    */
@media only screen and (max-width: 479px) {


    .Trainer-Msg  {
            position: absolute;
            padding-left: 30px;
        }

/* END Mobile Version */
}

/* ---------------------------------------------------------------- */
/*                          Tablet Styles                           */
/* ---------------------------------------------------------------- */
                    /*     480px - 960px    */

@media only screen and (min-width: 480px) and (max-width: 960px) {


      .Trainer-Msg  {
              position: absolute;
              padding-left: 30px;
          }
/* END Tablet Version */
}


/* ------------------------------------------------------------*/
/*                          Small Desktop                      */
/* ----------------------------------------------------------- */
                    /*     960px - 1249px    */

@media only screen and (min-width: 961px) and (max-width: 1249px) {


/* END Small Desktops */
}
