.body{
  padding: 40px;
  position: relative;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.Center {
  position: relative;
  text-align: center;
}

    .courseLandingPage{
        background-color: transparent;
        height: 140%;
        position: relative;
    }
    .content{
        background-color: white;
        width: 95%;
        height: auto;
        position: absolute;
        top: 2.5em;
        left:1em;
        box-shadow: 0px 0px 15px #c2c2c2, -0px -0px 15px #c2c2c2;
    }
    .header{
      height: 100px;
      border-bottom: 1px solid #DEDFE0;
    }
    .title{
      font-size: 25px;
      padding: 1.5em 1.8em;
    }
    label{
      display: block;
      margin: 0px 0 0.3em 3em;
      margin-left: 3em;
      width: 80%;
    }
    input,textarea{
      margin-left: 2.3em;
      width: 91%;
      height: 44px;
      border: 1px solid grey;
      font-size: 15px;
    }
    .textarea{
      margin-left: 2.3em;
      width: 91%;
      height: 44px;
      border: 1px solid grey;
      font-size: 15px;
      padding: 5px 10px !important;
      height: auto;
    }
    input{
      padding-left: 20px;
    }
    input:focus,textarea:focus,select:focus,
    input:active,textarea:active,select:active {
    outline: 1px solid #58C7D9;
    }
    input:hover,textarea:hover,select:hover {
      border: 1px solid #C0C0C0;
    }
    textarea{
      padding: 5px 10px !important;
      height: 100px;
    }
    .divSelect{
      display: inline-block;
    }
    .select{
      margin-left: 1.9em;
    }

    select {
      appearance: none;
      -webkit-appearance: none;
      width: 280px;
      height: 3.1em;
      margin: 0em 1em;
      display: inline-block;
      background: url(../../images/02-Course/02-01-CourseLandingPage/select.png) no-repeat scroll 95% center;
      background-size: 10px 10px;
      background-color: #F5F5F5;
      border: 1px solid #C0C0C0;
      text-indent: 10%;
      font-size: 1em;
    }









/* Two Cols */
  .Col1 {
    position: relative;
    float: left;
    width: 50%;
    height: 340px;
    margin-top: 30px;
  }
  .Col2 {
    position: relative;
    height: 100%;
    float: left;
    width: 50%;
    height: 340px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  @media only screen and (max-width: 1300px) {
    .Col1 {
      width: 100%;
    }
    .Col2 {
      width: 100%;
    }
}



/* img Container */
  .imageContainer{
    text-align: center;
  }
  .image img{
    max-width: 500px;
    height: 250px;
    margin-bottom: 10px;
  }
    .uploadImage input{
      height: auto;
      width: 20em;
    }
    input[type="file"]{
    border: none;
    padding: 0px;
    }
    .fileImage{
      text-align: center;
      cursor: pointer;
    }
    .fileImage:hover {
      border: none;
    }

    .imageCourse {
      border: none;
    }

/* Pricing Container */
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
body {
  background: #ddd;
}


.pricing-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  position: absolute;
}
.pricing-container .header {
  background: #2F2F2F;
  color: white;
  font-size: 2.1em;
  font-weight: 300;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  margin: 0px;
  width: auto;
  height: auto;
}
.pricing-container .price {
  background: #66D2AC;
  background: linear-gradient(10deg, #93da9f 30%, #66d2ac 80%);
  color: white;
  font-weight: 800;
  padding: 10px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 1.3em;
}
.pricing-container .price .figure {
  font-weight: 800;
  font-size: 1.2em;
  margin: 0 2px;
}
.pricing-container .price .cent {
  text-decoration: underline;
}
.pricing-container .price .frequency {
  color: #2F757F;
  text-shadow: none;
}
.pricing-container .price:hover .details {
  height: 20px;
}
.pricing-container .price .details {
  color: #2F757F;
  font-size: .6em;
  display: block;
  height: 0px;
  overflow: hidden;
  transition: all 400ms ease;
}
.pricing-container .itemsWrapper {
  border: 1px solid #E6E6E6;
  border-top: none;
  border-radius: 0 0 2px 2px;
  background: white;
  box-shadow: inset 14px 0 white, inset 15px 0 #f2f2f2, inset -14px 0 white, inset -15px 0 #f2f2f2;
}
.pricing-container .itemsWrapper .items {
  list-style: none;
  padding: 15px;
  margin: 0;
}
.pricing-container .itemsWrapper .item {
  padding: 7px;
  text-transform: capitalize;
}

.pricetag {
  position: relative;
  left: -48px;
  height: auto;
  width: 278px;
  text-underline-position: alphabetic;
  text-align: center;
  border-bottom: 1px solid grey;
}

::placeholder {
  color: white;
  font-weight: bold;
}
::-webkit-input-placeholder { /* Edge */
  color: white;
  font-weight: bold;
}
:-ms-input-placeholder { /* Internet Explorer */
  color: white;
  font-weight: bold;
}















/* Requirements */
  .addRequierements{
    position: relative;
    float: right;
    margin-right: 80px;
    text-decoration: none;
    color: #000587;
    cursor: pointer;
  }
  .addRequierements:hover{
    color: purple;
  }
  .inputRequirementOrLearn{
    display: inline-block;
    width: 87%;
  }
  .deleteRequirement{
    position: absolute;
    right: 4vw;
    height: 30px;
    opacity: 0.2;
    cursor: pointer;
  }
  .deleteRequirement:hover{
    opacity: 1;
  }





.time{
  display: inline-block;
  position: relative;
  left: 35%;
  transform: translateX(-50%);
  z-index: 2;
}
.timeCourse{
  z-index: 2;
  width: 150px;
}

.liveOnlineContainer{
  display: inline-block;
  position: relative;
  left: 15%;
  margin: 20px 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #787878;


}
.liveOnlineContainer:hover{
  border: 1px solid #BEBEBE;

}


.liveOnlineRadio{
  width: 20px;
  height: 15px;
}

.liveOnline{
  height: 15px;
  width: 200px;
  display: inline-block;
}


.ScheduleDays{
  width: 700px;

}

.Schedule{
  height: 30px;
}
.Schedule label {
  display: block;

  padding-left: 15px;
  text-indent: -15px;
  padding: 10px;
}
.Schedule input {
  width: 13px;
  height: 20px;
  padding: 3 ;
  margin: 0 7px;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}
.Schedule input[type="time"] {
  width: 130px !important;
}

.textarea {
  height: auto;
  padding: 0;
}



/**/
