*, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}
body {
  overflow-x: hidden;
  position: relative;
}
/*----------------------------------------------------------------------------*/
/*--------------------------------- HEADER -----------------------------------*/
/*----------------------------------------------------------------------------*/
.header-cours{
  width: 100vw;
  padding: 20px 0;
  background: red;
  /*background-color: #2b2b2a;*/
  position: relative;
}
/*------------------------------- Link balck ---------------------------------*/
.header-course .backCourse {
  position: absolute;
  display: block;
  color: white;
  text-decoration: none;
  left: 3em;
  top: 1em;
  font-size: 1em;
}
.header-course .backCourse  img{
  position: absolute;
  height: 1.6em;
  left: -1.8em;
  top: -23%;
}

/*----------------------------- Preview botton -------------------------------*/
.header-course .preview {
  position: absolute;
  display: block;
  color: white;
  text-decoration: none;
  padding: 0.75em 1em;
  right: 9em;
  top: 0.28em;
  font-size: 1em;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 2px;
  color: white;
  text-align:center;
  font-weight:300;
}
.header-course .preview:hover {
  border: 1px solid #d4d4d4;
  transition: all .5s;
}

/*------------------------------ Preview save --------------------------------*/

.save{
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: block;
  color: white;
  text-decoration: none;
  padding: 0.75em 1em;
  right: 4em;
  top: 0.28em;
  font-size: 1em;
  background-color: white;
  border: 1px solid white;
  border-radius: 2px;
  color: black;
  text-align:center;
  font-weight:500;
  width: 50PX;
  border: 1px solid grey;
}
.save:hover{
  background-color: #E6E6E6;
}



/*----------------------------------------------------------------------------*/
/*--------------------------------- BODY -------------------------------------*/
/*----------------------------------------------------------------------------*/
.body-course{
  background-color: #F2F3F5;
  height: 100%;
}

/*-------------------------------- Left Menu ---------------------------------*/
  .left-menu{
    position: absolute;
    top: 54px;
    display: inline-block;
    height: 100%;
    width: 20vw;
  }
  .left-menu h4{
    margin: 0em 0 1.3em 50px;
  }
  .left-menu a{
    display: inline-block;
    margin: 0em 0 0.4em 50px;
    text-decoration: none;
    padding: 0.5em 0.5em;
    color: black;
    width: 12em;
  }
  .left-menu a img{
    display: inline-block;
    height: 15px;
    margin-right: 7px;
  }
  .left-menu a:hover{
    background-color: #CACBD0;
    transition: all .5s;
  }





/*-------------------------------- Right body ---------------------------------*/
  .right-menu {
    position: absolute;
    right: 0px;
    display: inline-block;
    height: 100%;
    width: 80vw;
    z-index: -2;
  }



































/**/
